body {
    background: url("../images/pizzeria.jpg") center fixed no-repeat;
    background-size: cover;
}

.ribbon{
    display: flex;
    justify-content: center;
    padding: 100px;
    height: 50%;
}